# DB_NAME=development
# DB_HOST=db
# DB_PASSWORD=root
# DB_USER=root
# DB_FILTER=^.*$
# HTTP_PORT=8069
# GEVENT_PORT=8072
# WORKERS=0
# MCATCHER_HTTP_PORT=1080

# ODOO_VERSION=19

# ENTERPRISE_PATH=../../Sources/19.0/enterprise
# ODOO_PATH=../../Sources/19.0/odoo